@tailwind base;
@tailwind components;
@tailwind utilities;


.input-container {
    position: relative;
}

.label-transform {
    transform-origin: 0 0;
    transitions: transform 0.2s ease-out;
}

.input-transformed:not(:placeholder-shown) + .label-transform,
.input-transformed:focus + .label-transform {
    @apply bg-white; 
    @apply px-3;
    transform: translateY(-0.9rem) scale(0.8);
}

.btn-primary{
    @apply bg-gradient-to-r from-blue-500 to-blue-800;
}

.login-color{
    @apply bg-gradient-to-r from-blue-500 to-blue-800;
}

.width-transition{
    transition: width 0.3s ease-in-out;
}

.opacity-transition{
    transition: opacity 0.3s ease-in-out;
}

.visibility-transition{
    transition: visibility 0.3s ease-in-out;
}

.margin-transition{
    transition: margin 0.3s ease-in-out;
}

.right-content{
    @apply pl-4;
    @apply md:pl-4;
}

.transition-semua{
    transition: all 0.5s ease-in-out;
}

.btnsearch{
    bottom: 1px;
}

.toppp{
    top: 0.20rem;
}

.rightt{
    right: 0.20rem;
}

.sidebar-li a.active{
    @apply bg-blue-400;
}

.active-link {
    @apply border-l-8;
    @apply border-blue-600;
    @apply bg-gradient-to-r;
    @apply from-blue-100;
    @apply to-white;
    @apply text-black;
}

.active-link svg{
    stroke: black;
}

@media(max-width: 768px){
    .fixed-md{
        position: fixed;
    }

    .dropdown-sidebar{
        @apply space-y-2;
        @apply fixed;
        left: 100px;
        @apply py-2;
        @apply -translate-y-10;
        @apply bg-gray-50;
        @apply divide-y;
        @apply divide-gray-100;
        @apply rounded-lg;
        @apply shadow w-44;
        @apply border-gray-300;
        @apply border-2;
        @apply border-opacity-60;
    }

    .sidebar-md{
        /* @apply block; */
        @apply hidden;
        transition: left 0.3s ease;
        /* transition: visibility 0.5s ease-in-out; */
    }

}

@media(min-width: 768px){
    .ham{
        @apply hidden;
    }
}


/* #logo-sidebar{
    display: none;
} */

/* #logo-sidebar {
    flex: 0 0 auto;
} */

